{% extends 'basic.html' %}

{% block content %}

<h1>Periksa ganjil dan genap</h1>
<form action="periksa" method="POST">
    {% csrf_token %}

    Enter A: <input type="text" name="num1"><br><br>
    Enter B: <input type="text" name="num2"><br><br>
    <input type="submit">
</form>

{% endblock %}
