<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek huruf vokal</title>
  </head>
  <body bgcolor="#762999">
    {% block content %}

    {% endblock %}
  </body>
</html>
