{% extends 'base.html' %}

{% block content %}

<h1>Cek Huruf Vokal</h1>
<form action="cekhuruf" method="POST">
    {% csrf_token %}

    Masukkan kalimat : <input type="text" name="text"><br><br>
    <input type="submit">
</form>

{% endblock %}
