{% load static %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <div class="header-title">
            <a href="{% url 'dashboard' %}"><h3>Rektrutmen App</h3></a>
        </div>

        <div class="menu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
                    {% if is_pelamar == True %}
                    <li><a href="{% url 'pelamar' %}">lamaran saya</a></li>
                    {% endif %}
                {% else %}
                <li><a href="{% url 'login' %}">login</a></li>
                <li><a href="{% url 'register' %}">sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <img src="{% static 'media/rek.png' %}" alt="rekrutmen">

    <div>
	{% block content %}
	{% endblock %}
    </div>

</body>
</html>
