<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rental Buku</title>
</head>
<body>
  <div>
    <h3>Rental Buku</h3>
  </div>
  <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% block menu_list %}
                {% endblock %}
            </ul>
        </div>
  <div class="content">
    {% block content %}

    {% endblock %}
  </div>

</body>
</html>
